/* Thomas Tavolara
 * CSC 210: SqlThePrql
 * Styling for main page
 */

.class300 /*300 level classes*/
{
background-color:#OOCCCC;
}

.class200 /*200 level classes*/
{
background-color:#33FF33;
}

.class100 /*100 level classes*/
{
background-color:#FF66FF;
}

table
{
border-spacing:4px;
}

.classes
{
margin-right:10px;
margin-left:10px;

padding-left:3px;
padding-right:3px;
padding-top:3px;
padding-bottom:3px;

border-radius:10px;
text-align:center;
width:33.4%;
}


.curvedborder
{
border-radius:20px;
border:2px solid;
border-color:#808080;
}

.majors
{
font-size:12pt;
}

.topbutton
{
display: inline-block;
border-radius:10px;
font-size:12pt;
background-color:#E0E0E0;

margin-top:4px;
margin-right:7px;
margin-bottom:10px;
overflow:hidden;

padding-left:30px;
padding-right:30px;
padding-top:5px;
padding-bottom:5px;
}

.button
{
border-radius:10px;
font-size:12pt;
background-color:#E0E0E0;

float:right;

margin-top:4px;
margin-right:7px;
overflow:hidden;

padding-left:30px;
padding-right:30px;
padding-top:5px;
padding-bottom:5px;
}

#requirements
{
font-size:12pt;
text-indent:10px;

margin-top:4px;
overflow:hidden;

padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

ul
{
margin-left:-15px;
}

#body
{
margin-left:auto;
margin-right:auto;
overflow:hidden;
}

li:first-letter
{
font-weight:bold;
}

div:first-letter
{
font-weight:bold;
}

#leftchunk
{
width:25%;
float:left;

margin-right:.25%;

padding-left:7px;
padding-right:7px;
padding-top:3px;
padding-bottom:30%;

font-size:30px;

}

#rightchunk
{
width:71%;
float:left;

margin-left:.25%;

padding-left:7px;
padding-right:7px;
padding-top:3px;
padding-bottom:3px;
}

hr
{
height:3px;
border-width:0;
color:#E0E0E0;
background-color:#E0E0E0;
margin-top:-3px;
}

.curvedborder_dark
{
border-radius:20px;
border:2px solid;
border-color:black;
}

.fall
{
float:left;
width:47%;

margin-right:2px;
margin-bottom:2px;

padding-left:7px;
padding-right:7px;
padding-top:3px;
padding-bottom:3px;
}

.spring
{
float:left;
width:47%;

margin-left:2px;
margin-bottom:2px;

padding-left:7px;
padding-right:7px;
padding-top:3px;
padding-bottom:3px;
}
