 <h2> {{params.currentMajor}} </h2>

	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" ng-init="active.name='Please select major'" > 
	  	{{active.name}} <span class="caret"></span> </a>
	  	<ul class="dropdown-menu">
		    <!-- dropdown menu links --> 
		    <li ng-repeat="major in majors" ng-click="$parent.active = major" >
		    	<a href="#/{{major.name}}" role="menuitem" tabindex="-1" >{{major.name}}</a>
		    </li>
	    </ul>
	</div>
	<div id="requirements">
    <div class="row clearfix">
      <div class="span2">Search: <input ng-model="query"></div><br>
      <div class="span10">
        
		  <div ng-repeat="req in reqs | filter:query" class="col-md-4 column">
			<img ng-if="req.dept !== params.currentMajor" class="thumbnail" id="drag{{$index+1}}" src="http://placehold.it/110x70/777/E1F2DF&text={{req.dept+req.numb}}" draggable="true" ondragstart="drag(event)">
			<img ng-if="req.dept === params.currentMajor" class="thumbnail" id="drag{{$index+1}}" src="http://placehold.it/110x70/567A51/E1F2DF&text={{req.dept+req.numb}}" draggable="true" ondragstart="drag(event)">
		  </div>
        
      </div>
    </div>
  </div>
