<!doctype html>

<html lang="en" ng-app="scheduleApp">
<head>
	
	<meta charset="utf-8">
	<title>Scheduler</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="icon" 	   href="/YOUR_PATH/favicon.ico" type="image/x-icon"  />
	
  	<script src="lib/jquery/jquery-1.10.2.js"></script>
  	<script src="lib/angular/angular.js"></script>
  	<script src="lib/angular/angular-route.js"></script>
  	<script src="lib/angular/angular-animate.js"></script>
  	<script src="lib/angular/angular-resource.js"></script>

	<script type='text/javascript' src="js/app.js"></script>
  	<script type='text/javascript' src="js/onLoad.js"></script>
	<script type='text/javascript' src="js/filters.js"></script>
  	<script type='text/javascript' src="js/services.js"></script>
	<script type='text/javascript' src="js/animations.js"></script>
    <script type='text/javascript' src="js/controllers.js"></script>
    <script src="../bower_components/bootstrap/js/dropdown.js"></script>

	<script type='text/javascript' src="js/canvas/html2canvas.js"></script>
	<script type='text/javascript' src="js/canvas/base64.js"></script>
	<script type='text/javascript' src="js/canvas/canvas2image.js"></script>
	
	<!-- NOT CURRENTLY USING
	http://jsfiddle.net/8ypxW/3/
	<link rel="stylesheet" type="text/css" href="css/app.css">
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="css/animations.css">
    <script type='text/javascript' src="../bower_components/angular/angular.js"></script>
	<script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
	-->

</head>
<body>
	<div class="topbutton"> Back </div>
	<div class="topbutton"> Signout </div>
	<div id="body">
	<div id="leftchunk" class="curvedborder">My Major
	<div class="btn-group" ng-controller="majorCtrl">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    Major <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <!-- dropdown menu links -->

	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">AME</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CS</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BME</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CHE</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ECE</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ME</a></li>
	  </ul>
	</div>
	

		



		<div  class="curvedborder"> Requirements
		  <div  id="requirements" class="container-fluid" ng-controller="scheduleCtrl">
		    <div class="row-fluid">
		      <div class="span2">Search: <input ng-model="query"></div>
		      <div class="span10">

		        <ul class="reqs">
		          <li ng-repeat="req in reqs | filter:query" >
		            {{req.dept}} {{req.numb}} | {{req.type}}  
		          </li>
		        </ul>

		      </div>
		    </div>
		  </div>
		</div>







		<div class="majors">
			<table>
			<tr>
			  <td class="classes class100">
			  MTH XXX<br>
			  Whoa<br>
			  All time
			  </td>
			  <td class="classes class100">
			  2
			  </td>
			  <td class="classes class100">
			  3
			  </td>
			 <td></td> 
			</tr>
			<tr>
			  <td class="classes class100">1</td>
                          <td class="classes class100">2</td>
                          <td class="classes class200">
			  CHM -11<br>
			  Negative?!<br>
			  Never
			  </td>
			</tr>
			</table>

		</div>
		<input type="button" id="btnSave" value="Save Schedule As PNG"/>

	</div>
	<div id="rightchunk" class="curvedborder">
		Freshman

	<hr>
		<div class="curvedborder_dark fall">	
		Fall<br><br><br><br><br>
		</div>
		
		<div class="curvedborder_dark spring">
		Spring<br><br><br><br><br>
		</div>

        Sophomore

        <hr>    
                <div class="curvedborder_dark fall">
                Fall<br><br><br><br><br>
                </div>

                <div class="curvedborder_dark spring">
                Spring<br><br><br><br><br>
                </div>  

        Junior

        <hr>    
                <div class="curvedborder_dark fall">
                Fall<br><br><br><br><br>
                </div>

                <div class="curvedborder_dark spring">
                Spring<br><br><br><br><br>
                </div>  

        Senior

        <hr>    
                <div class="curvedborder_dark fall">
                Fall<br><br><br><br><br>
                </div>

                <div class="curvedborder_dark spring">
                Spring<br><br><br><br><br>
                </div>
	
		<div class="btn button-default">
		Save
		</div>

                <div class="button">
                Clear
                </div>  	
	</div>
	</div><!--end id body-->


</body>
</html>
